$primary-color: #da4e3e;
$primary-color-dark: #d03d30;
$primary-color-light: #e58378;
$primary-color-box-shadow-color: #c2251b;

$secondary-color: #12678e;
$secondary-color-dark: #0d547b;
$secondary-color-light: #5995b0;
$secondary-color-box-shadow-color: #05395f;

$error-color: #901114;

$background-color: #ececec;
$background-color-dark: #e7e7e7;
$background-color-light: #f2f2f2;
$background-color-boxshadow-color: #d7d7d7;

$background-color-accent-color: #ffffff;
$background-color-accent-color-boxshadow-color: #f8f8f8;

$primary-text-color: #ffffff;

$secondary-text-color: #2d2c2c;
$secondary-text-color-dark: #222121;
$secondary-text-color-light: #6c6b6b;