$sm-font: 1em;
$md-font: 2em;
$lg-font: 3em;
$xlg-font: 4em;

$font-logo: 'Yellowtail', cursive;
$font-primary: 'Open Sans Condensed', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-xbold: 800;